data/worldsoccerdatabase.jsonl filter=lfs diff=lfs merge=lfs -text
data/geonucleardata.jsonl filter=lfs diff=lfs merge=lfs -text
data/greatermanchestercrime.jsonl filter=lfs diff=lfs merge=lfs -text
data/spider.jsonl filter=lfs diff=lfs merge=lfs -text
data/nvbench.jsonl filter=lfs diff=lfs merge=lfs -text
data/scholar.jsonl filter=lfs diff=lfs merge=lfs -text
data/sede.jsonl filter=lfs diff=lfs merge=lfs -text
data/atis.jsonl filter=lfs diff=lfs merge=lfs -text
data/eicu.jsonl filter=lfs diff=lfs merge=lfs -text
data/imdb.jsonl filter=lfs diff=lfs merge=lfs -text
data/wikisql.jsonl filter=lfs diff=lfs merge=lfs -text
data/criteria2sql.jsonl filter=lfs diff=lfs merge=lfs -text
data/squall.jsonl filter=lfs diff=lfs merge=lfs -text
data/whatcdhiphop.jsonl filter=lfs diff=lfs merge=lfs -text
data/mimicsql_data.jsonl filter=lfs diff=lfs merge=lfs -text
data/pesticide.jsonl filter=lfs diff=lfs merge=lfs -text
data/sql_create_context.jsonl filter=lfs diff=lfs merge=lfs -text
data/studentmathscore.jsonl filter=lfs diff=lfs merge=lfs -text
data/thehistoryofbaseball.jsonl filter=lfs diff=lfs merge=lfs -text
data/academic.jsonl filter=lfs diff=lfs merge=lfs -text
data/advising.jsonl filter=lfs diff=lfs merge=lfs -text
data/mimic_iii.jsonl filter=lfs diff=lfs merge=lfs -text
data/uswildfires.jsonl filter=lfs diff=lfs merge=lfs -text
data/yelp.jsonl filter=lfs diff=lfs merge=lfs -text
sqlite_features/sqlite_json.jsonl filter=lfs diff=lfs merge=lfs -text
